<!doctype html>
<html lang="fr">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="../../src/style/css/framework.css">
  <link rel="stylesheet" href="../../src/style/css/character/list.css">
  <link rel="stylesheet" href="../../src/style/css/theme.css">
  <link rel="stylesheet" href="../../src/style/css/responsive.css">
  <title>Personnages</title>
</head>

<body>
  <h1>Personnages</h1>
  <?php require "../components/sidebar.html"; ?>
  <div class="main-content">

    <div class="characters-container">
      <a href="/character/create" class="character-card add-card">+</a>

      <?php foreach ($characters as $character): ?>
      <?php if ($character->status
      === 'published'): ?>
      <article class="card">
        <div class="card__content">
          <div class="card__image">
            <img src="src/style/assets/icon_sidebar/icon_perso.svg" alt="logo" class="">
          </div>
          <h2 class="card__title_main-font">
            <?php echo htmlspecialchars($character->name); ?>
          </h2>
          <p class="card__text">
            <?php echo htmlspecialchars($character->description); ?>
          </p>
          <a href="/character/<?php echo htmlspecialchars($character->slug); ?>"
            class="button button--primary p--6">détail</a>
        </div>
      </article>

      <?php endif; ?>
      <?php endforeach; ?>
    </div>
    <hr style="margin: 40px 0" />
    <h2 style="text-align: center; margin-bottom: 10px">Brouillons :</h2>

    <div class="characters-container">
      <?php foreach ($characters as $character): ?>
      <?php if ($character->status
      === 'draft'): ?>
      <article class="card">
        <div class="card__content">
          <div class="card__image">
            <img src="src/style/assets/icon_sidebar/icon_perso.svg" alt="logo" class="">
          </div>
          <h2 class="card__title_main-font">
            <?php echo htmlspecialchars($character->name); ?>
          </h2>
          <p class="card__text">
            <?php echo htmlspecialchars($character->description); ?>
          </p>
          <a href="/character/<?php echo htmlspecialchars($character->slug); ?>"
            class="button button--primary p--6">détail</a>
        </div>
      </article>
      <?php endif; ?>
      <?php endforeach; ?>
    </div>

    <hr style="margin: 40px 0" />
    <h2 style="text-align: center; margin-bottom: 10px">Archivées :</h2>

    <div class="characters-container">
      <?php foreach ($characters as $character): ?>
      <?php if ($character->status
      === 'archived'): ?>
      <article class="card">
        <div class="card__content">
          <div class="card__image">
            <img src="src/style/assets/icon_sidebar/icon_perso.svg" alt="logo" class="">
          </div>
          <h2 class="card__title_main-font">
            <?php echo htmlspecialchars($character->name); ?>
          </h2>
          <p class="card__text">
            <?php echo htmlspecialchars($character->description); ?>
          </p>
          <a href="/character/<?php echo htmlspecialchars($character->slug); ?>"
            class="button button--primary p--6">détail</a>
        </div>
      </article>
      <?php endif; ?>
      <?php endforeach; ?>
    </div>
  </div>
</body>

</html>